<!DOCTYPE html>

{% load static %}
{% load tz %}

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_head %}{% endblock %}
    <title>home</title>
  </head>
  <body>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div style="display: flex; align-items: center;">
        <p style="margin: 0; padding-right: 10px;">ただ今</p>
        {% if is_using %}
        <h1 style="margin: 0;">使用中</h1>
        {% else %}
        <h1 style="margin: 0;">使用可能</h1>
        {% endif %}
      </div>
      <div>
        <a href="{% url 'status:home' %}">ホーム</a>
      </div>
    </div>
    <br>
    {% block content %}{% endblock %}
  </body>
</html>
